<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %> <%-
    include("../partials/admin-head.ejs") %>
    <title>Announcement Management</title>
  </head>
  <body>
    <%- include("../partials/datetime.ejs") %>

    <div class="admin-container">
      <!-- Announcement list -->
      <div class="content-box">
        <div class="header">
          <h1>Announcement List</h1>
        </div>
        <div class="content">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Content</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% announcements.forEach(function(announcement) { %>
              <tr>
                <td><%= announcement.ID %></td>
                <td><%= announcement.Title %></td>
                <td><%= announcement.Content %></td>
                <td>
                  <button
                    onclick="editAnnouncement('<%= announcement.ID %>', '<%= announcement.Title %>', '<%= announcement.Content %>')"
                    name="edit"
                  >
                    Edit
                  </button>
                </td>
                <td>
                  <form
                    action="/shahporan/admin/delete-announcement"
                    method="POST"
                  >
                    <button
                      class="red"
                      type="submit"
                      value="<%= announcement.ID %>"
                      name="denyButton"
                    >
                      Delete
                    </button>
                  </form>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Add announcement -->
      <div class="content-box">
        <div class="header">
          <h1>Add Announcement</h1>
        </div>
        <div class="content">
          <form
            class="admin-form"
            action="/shahporan/admin/add-announcement"
            method="POST"
          >
            <label for="announceTitle">Title</label>
            <input type="text" id="addTitle" name="addTitle" />

            <label for="announceContent">Content</label>
            <input type="text" id="addContent" name="addContent" />

            <button type="submit">Add Announcement</button>
          </form>
        </div>
      </div>

      <div id="admin-edit-background-blur">&nbsp;</div>

      <div class="admin-edit-box" id="main-edit-box">
        <div class="header">
          <h1>Edit</h1>
          <button class="red" id="admin-edit-close">X</button>
        </div>

        <div class="content">
          <form
            class="admin-form"
            action="/shahporan/admin/edit-announcement"
            method="POST"
          >
            <input id="announcement-id" type="hidden" name="editID" />

            <label>Title</label>
            <input id="announcement-title" type="text" name="newTitle" />
            <label>Content</label>
            <input
              id="announcement-content"
              type="text"
              name="newContent"
              value=""
            />

            <button type="submit">Edit</button>
          </form>
        </div>
      </div>
    </div>

    <script>
      // Closing the edit menu

      const backgroundBlur = document.getElementById(
        "admin-edit-background-blur"
      );
      const mainEditBox = document.getElementById("main-edit-box");
      const editCloseBtn = document.getElementById("admin-edit-close");

      const editIdInput = document.getElementById("announcement-id");
      const editTitleInput = document.getElementById("announcement-title");
      const editContentInput = document.getElementById("announcement-content");

      const closeEditMenu = () => {
        backgroundBlur.style.display = "None";
        mainEditBox.style.display = "None";
      };

      backgroundBlur.addEventListener("click", closeEditMenu);
      editCloseBtn.addEventListener("click", closeEditMenu);

      const editAnnouncement = (id, title, content) => {
        editIdInput.value = id;
        editTitleInput.value = title;
        editContentInput.value = content;

        backgroundBlur.style.display = "block";
        mainEditBox.style.display = "block";
      };
    </script>
  </body>
</html>
