<html lang="en">
  <%- include("../partials/head.ejs") %>
  <%- include("../partials/admin-head.ejs") %>

  <body>
    <%- include("../partials/datetime.ejs") %>
    
    <div class="admin-container">
      <!-- Announcement list -->
      <div class="content-box">
        <div class="header">
          <h1>Announcement List</h1>
        </div>
        <div class="content">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Content</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% announcements.forEach(function(announcement) { %>
              <tr>
                <td><%= announcement.ID %></td>
                <td><%= announcement.Title %></td>
                <td><%= announcement.Content %></td>
                <td>
                    <button value="<%= announcement.ID %>" name="edit">Edit</button>
                </td>
                <td>
                  <form action="/shahporan/admin/delete-announcement" method="POST">
                    <button class="red" type="submit" value="<%= announcement.ID %>" name="denyButton">Delete</button>
                  </form>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table> 
        </div>
      </div>
      
      <div id="admin-edit-background-blur">
        &nbsp;
      </div>

      <div class="admin-edit">
        <div class="admin-edit-box">
            <div class="header">
                <h1>Edit</h1>
                <button class="red" id="admin-edit-close">X</button>
            </div>

            <div class="content">
                <form class="admin-form">
                    <input id="announcement-id" type="hidden">

                    <label>Title</label>
                    <input id="announcement-title" type="text" name="new_title">
                    <label>Text</label>
                    <input id="announcement-content" type="text" name="new-content" value="">

                    <button type="submit">Edit</button>
                </form>
            </div>
        </div>
      </div>
    </div>

    <script>
        const backgroundBlur = document.getElementById("admin-edit-background-blur")

        backgroundBlur.addEventListener("click", () => {

        })
    </script>
  </body>
</html>
